#desktop-page-1 {
  background-image: url("../../assets/img/pageOne/city.png");
  min-height: 93vh;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.primary-title {
  word-wrap: break-word;
  text-align: center;
  color: var(--txt-primary);
}

.primary-title-mobile {
  word-wrap: break-word;
  text-align: center;
  color: var(--txt-primary);
  text-transform: uppercase;
  max-width: 90%;
}

.primary-subtitle {
  text-align: center;
  color: white;
  background-color: var(--txt-primary);
  border-radius: 50px;
  justify-content: center;
  padding: 15px;
}

.logo-class {
  aspect-ratio: 3/2;
  object-fit: contain;
}

.background-page-1 {
  background-image: url("../../assets/img/pageOne/city_mobile.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 93vh;
}
