.button {
    background-color: var(--btn-primary);
    color: var(--bg-color);
    text-transform: uppercase;
    border-radius: 20px;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    cursor: pointer;
    border: none;

}

.button:focus {
    outline: 2px solid #b7d4dc;
}