@media (min-width: 375px) and (max-width: 389px) {
  .image-page-10 {
    max-height: 35vh !important;
  }

  .label-page-10 {
    font-size: 0.8rem;
  }

  .title-page-10 {
    font-size: 1rem;
  }
}

@media (min-width: 390px) and (max-width: 639px) {
  .page-10 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 2rem;
  }

  .title-page-10 {
    font-size: 1.25rem;
  }

  .image-page-10 {
    max-height: 35vh !important;
  }

  .title-image-page-10 {
    font-size: 2rem !important;
    margin-bottom: 2rem;
  }

  .label-page-10 {
    font-size: 1.2rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .text-page-10 {
    font-size: 3rem !important;
  }

  .title-image-page-10 {
    font-size: 3rem;
    margin-bottom: 2rem;
  }

  .label-page-10 {
    font-size: 1.5rem;
  }

  .image-page-10 {
    max-height: 55vh !important;
  }
}
