@font-face {
  font-family: "D-DIN";
  src: url("./assets//fonts/D-DIN.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "D-DIN";
  src: url("./assets//fonts/D-DIN-Bold.otf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "D-DIN";
  src: url("./assets//fonts/D-DIN-Italic.otf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Cunia";
  src: url("./assets//fonts/Cunia.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

:root {
  --bg-color: #b6d3db;
  --btn-primary: #32667e;
  --txt-primary: #32677f;
  --red-primary: #e24339;
  --gray-cotainer: #d4d5d5;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

::-webkit-scrollbar {
  display: none;
}

section {
  scroll-snap-align: start;
}

html {
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: var(--bg-color) !important;
}

h1,
h2,
h3,
h4,
h5,
span,
ul,
ol {
  color: var(--txt-primary);
}

.font-d-din {
  font-family: D-DIN, sans-serif;
}

.font-d-din-bold {
  font-family: D-DIN, sans-serif;
  font-weight: bold;
}

.font-d-din-italic {
  font-family: D-DIN, sans-serif;
  font-style: italic;
}

.font-cunia {
  font-family: Cunia, sans-serif;
}

.font-cunia-bold {
  font-family: Cunia, sans-serif;
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 639px) {
  .desktop {
    display: none !important;
  }
}

/* Small devices such as large phones (640px and up) */
@media (min-width: 640px) and (max-width: 767px) {
  .desktop {
    display: none !important;
  }
}

/* Medium devices such as tablets (768px and up) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .desktop {
    display: none !important;
  }
}

/* Large devices such as laptops (1024px and up) */
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .mobile {
    display: none;
  }
}

/* Largest devices such as desktops (1280px and up) */
@media screen and (min-width: 1280px) {
  .mobile {
    display: none;
  }
}
