.track-scroll {
  position: relative;
  overflow: hidden; /* Asegúrate de que los elementos fuera de los límites no sean visibles */
}

.scroll-content {
  opacity: 1;
  transform: scale(1);
  transition: transform 0.5s, opacity 0.5s; /* Transiciones suaves */
}
